In [1]:
from gnatss.ops.posfilter import kalman_filtering
from gnatss.loaders import read_novatel_L1_data_files
from gnatss.loaders import load_gps_solutions

In [2]:
gps_df = load_gps_solutions(
    files = [
        'tests/data/2022/NCL1/208/GPS_PPP/GPS_POS_FREED',
        'tests/data/2022/NCL1/209/GPS_PPP/GPS_POS_FREED',
        'tests/data/2022/NCL1/210/GPS_PPP/GPS_POS_FREED',

    ],
    is_novatel_l1_data=True,
)
gps_df

/home/madhavmk/Desktop/offshore-geodesy/src/gnatss/loaders.py:297: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pd.read_csv(i, delim_whitespace=True, header=None, names=columns) for i in files
/home/madhavmk/Desktop/offshore-geodesy/src/gnatss/loaders.py:297: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pd.read_csv(i, delim_whitespace=True, header=None, names=columns) for i in files
/home/madhavmk/Desktop/offshore-geodesy/src/gnatss/loaders.py:297: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  pd.read_csv(i, delim_whitespace=True, header=None, names=columns) for i in files

,time,x,y,z,sdx,sdy,sdz
0,712207183.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.4491,2.4489,2.4488
1,712207184.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.2359,2.2357,2.2356
2,712207185.0,-2.574893e+06,-3.681574e+06,4.512097e+06,2.0000,1.9998,1.9997
3,712207186.0,-2.574893e+06,-3.681574e+06,4.512097e+06,1.7323,1.7320,1.7319
4,712207187.0,-2.574893e+06,-3.681574e+06,4.512097e+06,1.4147,1.4144,1.4142
...,...,...,...,...,...,...,...
193288,712400473.0,-2.575283e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193289,712400474.0,-2.575284e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193290,712400475.0,-2.575284e+06,-3.682610e+06,4.511038e+06,0.0134,0.0137,0.0158
193291,712400476.0,-2.575284e+06,-3.682609e+06,4.511037e+06,0.0134,0.0137,0.0158
193292,712400477.0,-2.575284e+06,-3.682608e+06,4.511038e+06,0.0134,0.0137,0.0158

In [3]:
inspvaa_df = read_novatel_L1_data_files(data_files=['tests/data/2022/NCL1/NCL1_INSPVAA.dat'], data_format="INSPVAA")
insstdeva_df = read_novatel_L1_data_files(data_files=['tests/data/2022/NCL1/NCL1_INSSTDEVA.dat'],
                                          data_format="INSSTDEVA")

In [4]:
smoothed_df = kalman_filtering(inspvaa_df, insstdeva_df, gps_df)

In [8]:
# smoothed_df.columns
# print(columns)
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# original order is: ['x', 'y', 'z', 'sdx', 'sdy', 'sdz', 'time']
smoothed_df = smoothed_df[['time', 'x', 'y', 'z', 'sdx', 'sdy', 'sdz']]
smoothed_df

,time,x,y,z,sdx,sdy,sdz
0,712207205.000,-2574898.373,-3681585.482,4512084.513,-0.287,-0.688,-1.308
1,712207205.050,-2574898.387,-3681585.517,4512084.448,-0.287,-0.688,-1.308
2,712207205.100,-2574898.402,-3681585.551,4512084.382,-0.277,-0.695,-1.297
3,712207205.150,-2574898.415,-3681585.586,4512084.318,-0.267,-0.702,-1.278
4,712207205.200,-2574898.429,-3681585.621,4512084.254,-0.260,-0.706,-1.252
...,...,...,...,...,...,...,...
3865063,712400477.500,-2575284.791,-3682607.964,4511038.023,-1.179,0.632,0.274
3865064,712400477.550,-2575284.850,-3682607.932,4511038.037,-1.184,0.667,0.198
3865065,712400477.600,-2575284.909,-3682607.899,4511038.047,-1.164,0.708,0.095
3865066,712400477.650,-2575284.967,-3682607.864,4511038.052,-1.128,0.740,-0.002
3865067,712400477.700,-2575285.024,-3682607.827,4511038.052,-1.074,0.766,-0.085

In [9]:
gps_df

                time            x            y           z   sdx   sdy   sdz
0      712207183.000 -2574893.320 -3681574.160 4512096.640 2.449 2.449 2.449
1      712207184.000 -2574893.280 -3681574.056 4512096.748 2.236 2.236 2.236
2      712207185.000 -2574893.239 -3681573.952 4512096.855 2.000 2.000 2.000
3      712207186.000 -2574893.198 -3681573.848 4512096.963 1.732 1.732 1.732
4      712207187.000 -2574893.158 -3681573.744 4512097.070 1.415 1.414 1.414
...              ...          ...          ...         ...   ...   ...   ...
193288 712400473.000 -2575282.934 -3682610.180 4511037.847 0.013 0.014 0.016
193289 712400474.000 -2575283.675 -3682610.145 4511038.077 0.013 0.014 0.016
193290 712400475.000 -2575283.932 -3682610.222 4511037.953 0.013 0.014 0.016
193291 712400476.000 -2575283.703 -3682609.184 4511037.489 0.013 0.014 0.016
193292 712400477.000 -2575284.311 -3682608.277 4511037.882 0.013 0.014 0.016

[193293 rows x 7 columns]